{% load static %}


<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<p>Username: {{ user.username }} </p>

<p>Blogs: {{ uploaded_file }}</p>
<input type="file" name="myfile">
<button type="submit">Upload</button>
</form>

{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
     <img src= "{{ uploaded_file_url }}" width="100px" height="200px"/>
{% endif %}

<button type="submit">Submit</button>
<a href="/logout">Logout</a></p>