
{% block content %}
    {% if user.is_authenticated %}
    <p>Hello <b>{{ user.username }}</b> </p>

    <p>Check your blogs here</p>
    {% for item in query_results %}
        <p><a href="/blog_detail"> <ol> 1  {{ item.title }}</ol></a></p>
    {% endfor %}
    {% if uploaded_file_url %}
    <img src= "{{ uploaded_file_url }}" width="200px" height="200px"/>
    {% endif %}
    <p><a href="/logout">Logout</a></p>
    {% else %}
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
    {% endif %}
{% endblock %}
